@{
    ViewBag.Title = "ClientView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookPlan</title>

    <link rel="stylesheet" href="3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



</head>

<body>
    <style>
    body, html { background: url("https://images.pexels.com/photos/703014/pexels-photo-703014.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"); background-size: 100%; background-repeat: no-repeat; }

            

            .f {
                color: white;
            }

            .b {
                height: 50%;
                width: 150%;
            }
        </style>
    <div class="mt-3">
        <div style="height:30px;width:50px">
            <label id="code"></label>
        </div>
    </div>
    
    <div class="row">
        <div class="col-9"></div>
        <div class="mt-3">
            <button class="b btn-success btn-lg" style="border-radius:10%;height:50px;width:90px"> @Html.ActionLink("Profile", "ClientDetails", "Client")</button>
         
            </div>
        <div class="mt-3 ml-5">
    <button class="b btn-dark  btn-lg " style="border-radius:10%;height:50px;width:90px ; "> @Html.ActionLink("Logout", "Logout", "Logout")</button>
</div>
    </div>

    

    <div class=" row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div>
                <button class="b bg-white btn-danger btn-lg " style="height:100px ;width:200px;color:black ">@Html.ActionLink("Gym List", "OwnerList", "Owner")</button>
               
             </div>
            


            <div class="mt-3">
                <button class="b bg-white btn-danger btn-lg" style="height:100px;width:200px;">@Html.ActionLink("Packages", "BookPlan", "Default")</button>
            </div>

        </div>

        <div class="col-4"></div>
    </div>


</body>